<ol class="breadcrumb">
    <%if(exists){%>
        <label class="error text-danger">"Car with entered car name and part id does not exists to update the quantity value"</label>
        <%}%>
</ol>
<h1 class='display-4'>Update Cars</h1>
<form method="POST" action="/jobs/updatedList">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Car Name</th>
                <th>Car Part Id</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody>
            <td><input type="text" pattern="[A-Z][A-Za-z0-9]{1,9}" name="jobName05" title="Start with capital letter, Continue with numbers or letters of max length 9" required></input></td>
            <td><input type="number" name="partId05" required></input></td>
            <td><input type="number" min="1" max="1000" name="qty05" required></input></td>
        </tbody>
        </table>
        <input type="submit" value="submit" class="btn btn-primary">
</form>