<h1>Car Name Search</h1>

<form method="POST" action="/jobNameSearchUI">
  <div class="form-group">
    <label for="JobName">Car Name</label>
    <input
      type="text"
      name="jobName05"
      class="form-control"
      required
      placeholder="Car Name"
    />
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Search</button>
</form>
