<h1 class="display-4">Order Placed</h1>
<p class="mb-4">To Contnue with other orders...</p>
<a href="/viewData05" class="btn btn-primary">Select By JobName</a>
<a href="/jobSearchPage05" class="btn btn-info">Search By JobName</a>
