<body>
    <ol class="breadcrumb">
        <%if(data){%>
            <label class="error text-danger">"Car Name doesn't exists in success purchases"</label>
            <%}%>
    </ol>
    <h1> Enter Car Name</h1>
    <form action="/viewUserData" method="POST">
    <input type="text", min="1" name="jobName05", placeholder="Enter Car Name", required>
    <button class="btn btn-primary"> Search </button>
    </form>
   <br>
   